.navbar{
    max-width:1200px;
    margin:0 auto 60px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    h1{
        font-size:42px;
        font-weight:700;
    }

    .nav-right{
        display:flex;
        align-items:center;
        gap:20px;

        span{
            color:#d7d7d7;
            font-size:18px;
        }

        button{
            border:none;
            padding:10px 22px;
            border-radius:50px;
            background:#e63946;
            color:white;
            cursor:pointer;
            font-weight:600;
            transition:.3s;

            &:hover{
                background:#d62839;
            }
        }
    }
}
.hero{

    text-align:center;

    margin-bottom:70px;

    h2{
        font-size:46px;
        margin-bottom:15px;
    }

    p{
        color:#bbbbbb;
        max-width:650px;
        margin:auto;
        line-height:1.8;
        font-size:20px;
    }
}

.hero {

    text-align: center;
    margin-bottom: 50px;

    h1 {
        font-size: 60px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #1DB954;
    }

    p {
        margin-top: 15px;
        color: #b5b5b5;
        font-size: 18px;
        max-width: 700px;
        margin-inline: auto;
        line-height: 1.7;
    }
}

.content{

    max-width:1300px;

    margin:auto;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:40px;
}

.camera-section,
.player-section{

    background:#232323;

    border-radius:24px;

    padding:30px;

    box-shadow:
        0 15px 40px rgba(0,0,0,.4);

    min-height:520px;

    display:flex;
    justify-content:center;
    align-items:center;
}
.camera-section button{

    margin-top:20px;

    border:none;

    padding:14px 32px;

    background:#1DB954;

    color:white;

    border-radius:50px;

    font-size:17px;

    cursor:pointer;

    transition:.3s;

    &:hover{

        transform:translateY(-2px);

        background:#17a74a;
    }
}
.camera-section video{

    width:100%;

    max-width:420px;

    border-radius:18px;

    border:3px solid #1DB954;

    box-shadow:0 0 35px rgba(29,185,84,.25);
}
.camera-section h2{

    margin-top:18px;

    font-size:34px;

    color:#1DB954;
}